name: "构建Docker镜像"
on:
  workflow_dispatch:
  
jobs:
  build:
    runs-on: lxk0301/jd_scripts-latest
    name: 构建Docker镜像
    steps:
      - name: Checkout master
        uses: actions/checkout@master
      - name: Build and publish image
        uses: ilteoood/docker_buildx@master
        with:
          publish: true
          imageName: colloq168/djman
          dockerFile: Dockerfile
          platform: linux/amd64,linux/arm64,linux/arm/v7
          tag: latest
          dockerUser: ${{ secrets.DOCKER_USERNAME }}
          dockerPassword: ${{ secrets.DOCKER_PASSWORD }}
